extends ../layout

block content
    a(href='/usuarios/create') + Nuevo usuario

    table.table
        thead
          tr
            th(scope='col') #
            th(scope='col') Nombre
            th(scope='col') Email
            th(scope='col') Verificado
            th(scope='col')
            th(scope='col')
        tbody
          each usuario in usuarios
            tr
              td(scope='row')
                = usuario.id
              td= usuario.nombre
              td= usuario.email
              td= usuario.verificado ? 'SI' : 'NO'
              td
                a(href='usuarios/' + usuario.id + '/update') Editar
              td
                form.inline(method='post' action='usuarios/' + usuario.id + '/delete')
                    input(type='hidden' name='id' value=usuario.id)
                    button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                        = 'Eliminar'


