extends ../layout

block content
    a(href='/usuarios') Volver

    br
    br
    br

    h1 Actualizar Datos de Usuario

    br
    br

    form(action=`/bicicletas/${bici.id}/update` method='post')
        .form-group
            label(for='nombre') Nombre:
            input#nombre(type='text' name='nombre' value=usuario.nombre class= errors.nombre ? 'is-invalid':'')
            if errors.nombre
                small#nombreHelp.text-danger
                    = errors.nombre.message
        br
        br
        input.btn(type='submit' value='OK')
